#chatbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 300px;
  bottom: 10px;
  right: 10px;
  background-color: #ccc;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.chatitem {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.online {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 6px;
  width: 100%;
  height: 100%;
}

.online p {
  font-size: 14px;
  opacity: 0.6;
}
.chatitem img {
  width: 20px;
  border-radius: 50%;
}
.online small {
  opacity: 0.6;
}
.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}
.bx-location-plus {
  color: rgb(4, 32, 211);
}

#chat {
  border: 1px solid #000;
  width: 100%;
  height: 100%;
}

#chatBoxCOnt {
  display: flex;
  flex-direction: column;
  text-align: start;
  height: 250px;
}

#chatBoxCOnt li {
  font-size: 14px;
}

.incomig {
  padding: 8px;
  line-height: 1;
  display: flex;
}
.incomig p {
  background-color: rgb(202, 26, 55);
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}
.bx-bot {
  font-size: 19px;
}

.outgoing {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border-radius: 5px;
}
.outgoing p {
  background-color: rgb(202, 26, 55);
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

#chat-input {
  width: 100%;
  display: flex;
  align-items: center;
}
#chat-input textarea {
  width: 100%;
}
#send-btn {
  visibility: hidden;
}
#chat-input #textarea:valid ~ span {
  visibility: visible;
}

.small-chatitem {
  display: none;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  width: 100px;
  height: 100px;
  background-image: url(https://avatars.githubusercontent.com/u/108145016?v=4);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.Ionline {
  position: absolute;
  top: 10px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: rgb(109, 243, 109);
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.round {
  position: absolute;
  font-size: 14px;
  width: 100%;
  height: 100%;
  animation: anim 5s linear infinite;
}

.round span {
  position: absolute;
  left: 50%;
  font-size: 8px;
  transform-origin: 0 50px;
  color: #fff;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
